
@font-face {
font-family: 'ExtraBold';
src: url("../font/TT/TTLakes-ExtraBold.woff");
}
@font-face {
  font-family: 'TT Lakes Regular';
  src: url("../font/TT/TTLakes-Regular.woff");
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url("../font/TT/TTLakes-Medium.woff");
}

@media only screen and (max-width: 767px) {
  body {
    font-family: 'ExtraBold' , 'TT Lakes Regular' ;
    background-color: white;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 14px;
    line-height: 20px;
    
  }
  .header {
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(65, 246, 215, .155) solid 1px;
  }
  .header__right-element{
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
  }
 
  .header__right-element > :first-child,
  .header__button:nth-of-type(2),
  .header__button:nth-of-type(3) {
      display: none;
  }
  .header__left-element{
    display: flex;
    justify-content: flex-start;
    margin-left: 16px;
    margin-right: 16px;
  }
  .header__left-element > :first-child{
    background-image: url('../Img/burger.svg');
    display: flex;
    background-position: center;
    width: 40px;
    height: 40px;
    color: white;
    padding: 20px;
    margin-top: 24px;
  }
  .header__CPS{
    margin-left: 16px ;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .header__divider{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
  }
  .header__right-element > :last-child{
    background-image: url('../Img/checkstatus.svg');
    display: flex;
    background-position: center;
    width: 40px;
    height: 40px;
    color: white;
    padding: 20px;
    margin-top: 24px;
  }
    .header__right-element :nth-last-child(2){
      background-image: url('../Img/repair.svg');
      display: flex;
      background-position: center;
      width: 40px;
      height: 40px;
      color: white;
      padding: 20px;
      margin-top: 24px;
      margin-right: 16px;
    }
  h1{
    height: 40px;
    font-family: 'ExtraBold';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
    padding-left: 12px;
    border-left: rgba(65, 246, 215, 1) solid 4px;
    font-size: 28px
  }
  .main__buttons{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x:hidden;
  }
  button:focus-visible{
    border:2px solid #B8FFEC  ;
    outline: white;
    border-radius: 10px;
  }
  .main__button-nav{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .header__button{
    border: white;
    background-color: white;
  }

  .main__buttons :first-child{
    border: 2px solid #B8FFEC;
    border-radius: 10px;
    padding: 8px 22px;
  }
  .main__button{
    display: flex;
    font-family: 'TT Lakes Regular';
    align-items: center;
    justify-content: center;
    color: #7E7E82;
    border: none ;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    padding: 8px 17px;
    flex-shrink: 0;
  }
  
.main__skroll > :first-child{
  display: flex;
  vertical-align: middle;
  margin-left:  16px; ;
}
.header__button-status{
  display: none;
}
.main__img-content{
    display: flex;
    margin-top: 16px; 
    max-width: 100%;
    height: auto;
}
.main__text{
  margin: 0px 16px 16px 16px;
  display: flex;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
}
.main__text:nth-of-type(2n+1) ~ .main__text{
  display: none;
}
.main__content{
  display: flex;
  flex-direction: column;
}
.main__skroll-text{
  margin-left: 8px;
  font-family: 'TT Lakes Medium';
  color: black;
}
}

/* Стили для планшетов */
@media only screen and (min-width: 768px) and (max-width: 1120px) {
  body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'ExtraBold' , 'TT Lakes Light';
    font-size: 14px;
    line-height: 20px;
  }
  .header {
    width: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(65, 246, 215, .155) solid 1px;
  }
 
 .header__right-element{
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
  .header__left-element{
  display: flex;
  margin-left: 20px;
}
.header__left-element > :first-child{
  background-image: url('../Img/burger.svg');
  display: flex;
  background-position: center;
  width: 40px;
  height: 40px;
  color: white;
  padding: 20px;
  margin-top: 24px;
}
.header__button::after {
  position: fixed;
  content: "";
  height: 30px;
  border: 1px #EAEAEA solid;
  border-radius: 1px;
  top: 28px;
  left: 84px;
}
.header__CPS{
  display: flex;
  margin-left: 40px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.header__right-element > :first-child{
  background-image: url('../Img/call.svg');
  display: flex;
  background-position: center;
  width: 40px;
  height: 40px;
  color: white;
  padding: 20px;
  margin-top: 24px;
  margin-right: 16px;
}
.header__right-element :nth-child(2){
  background-image: url('../Img/chat.svg');
  display: flex;
  background-position: center;
  width: 40px;
  height: 40px;
  color: white;
  padding: 20px;
  margin-top: 24px;
  margin-right: 16px;
}
.header__right-element :nth-child(3){
  background-image: url('../Img/profile.svg');
  display: flex;
  background-position: center;
  width: 40px;
  height: 40px;
  color: white;
  padding: 20px;
  margin-top: 24px;
}
.header__right-element > :last-child{
  background-image: url('../Img/checkstatus.svg');
  display: flex;
  background-position: center;
  width: 40px;
  height: 40px;
  color: white;
  padding: 20px;
  margin-top: 24px;
}
  .header__right-element :nth-last-child(2){
    background-image: url('../Img/repair.svg');
    display: flex;
    background-position: center;
    width: 40px;
    height: 40px;
    color: white;
    padding: 20px;
    margin-top: 24px;
    margin-right: 16px;
  }
  h1{
    height: 40px;
    font-family: 'ExtraBold';
    font-size: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-right: 16px;
    padding-left: 20px;
    border-left: rgba(65, 246, 215, 1) solid 4px;
  }
  .main__buttons{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x:hidden;
  }
  
  button:focus-visible{
    border:2px solid #B8FFEC  ;
    outline: white;
    border-radius: 10px;
  }
  .main__button-nav{
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  

  .header__button{
    border: none;
    background-color: white;
  }
  .main__buttons :first-child{
    border: 2px solid #B8FFEC;
    border-radius: 10px;
    padding: 8px 22px;
  }
  
  .main__button{
    display: flex;
    font-family: 'TT Lakes Regular';
    align-items: center;
    justify-content: center;
    color: #7E7E82;
    border: none ;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    padding: 8px 17px;
    flex-shrink: 0;
  }
  
.main__skroll > :first-child{
  display: flex;
  vertical-align: middle;
  margin-left: 25px;
}
.main__content {
  display: flex;
  flex-direction: row;
}

.main__text{
  margin: 0px 16px 16px 24px;
  flex-direction: column;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
}


.main__text:nth-of-type(2n+2) ~ .main__text{
  display: none;
}
.main__img-content{
  border-radius: 5px;
  width: 320px;
  height: 176px;
  margin-right: 40px;
}
.header__button-status{
  display: none;
}
.header__divider{
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}
.main__skroll-text{
  margin-left: 8px;
  font-family: 'TT Lakes Medium';
  color: black;
}
}

/* Стили для компьютеров */
@media only screen and (min-width: 1121px) {
  body {
    max-width: 1121px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    font-family: 'ExtraBold' , 'TT Lakes Regular';
    font-size: 14px;
    line-height: 20px;
  }
 
  .header__left-element{
    display: none;
  }
  .header__right-element > :not(:nth-last-child(-n+2)) {
    display: none;
  }
  
  .header__button-status{
    display: flex;
    margin-right: 208px;
    font-size: 16px;
    font-family: 'TT Lakes Medium';
    white-space: nowrap;
    margin-left: 32px;
  }
  .header__button{
    display: flex;
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    
  }
  .header__right-element{
    display: flex;
  }
  .header__right-element > :last-child{
    background-image: url('../Img/checkstatus.svg');
    display: flex;
    background-position: center;
    width: 40px;
    height: 40px;
    padding: 20px;
  }
    .header__right-element :nth-last-child(2){
      background-image: url('../Img/repair.svg');
      display: flex;
      background-position: center;
      width: 40px;
      height: 40px;
      padding: 20px;
      margin-right: 160px;
    }
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 42px;
  }
  
  h1{
    height: 40px;
    display: flex;
    font-family: 'ExtraBold';
    font-size: 28px;
    justify-content: flex-start;
    align-items: center;
    margin-top: -42px;
    padding-left: 30px;
    margin-bottom: 8px;
    border-left: rgba(65, 246, 215, 1) solid 4px;
  }
  .main__buttons{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
 
  .main__button-nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 32px;
    margin-right: 25px;
    margin-top: 8px;
  }
  
  button:focus-visible{
    border:2px solid #B8FFEC  ;
    outline: white;
    border-radius: 10px;
  }
  .main__buttons :first-child{
    border: 2px solid #B8FFEC;
    border-radius: 10px;
    padding: 8px 22px;
  }
  .main__button{
    display: block;
    font-family: 'TT Lakes Regular';
    align-items: center;
    color: #7E7E82;
    border: none ;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    padding: 8px 17px;
  }
  .main__skroll > :first-child{
    display: flex;
    vertical-align: middle;
  }

.main__skroll{
display: block;
margin-top: 10px;
margin-bottom: 54px;
margin-left: 32px;
}
.main__content {
  display: flex;
  flex-direction: row;
}

.main__text{
  margin: 16px 16px 16px 34px;
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  color: black;
}
.main__content .main__text:nth-of-type(2){
  display: none;
}
.main__img-content{
  border-radius: 5px;
  width: auto;
  margin-top: 7px;
  margin-right: 28px;
}
.main__skroll-text{
  margin-left: 8px;
  font-family: 'TT Lakes Medium';
  color: black;
}
}




